.side-bar {
    background-color: var(--sub-color);
    min-width: min-content;    
    translate: 0;
    transition: 1s;
}

@media screen and (max-width: 560px) {
    .side-bar {
        translate: -100%;
        z-index: 1;
    }
}

.side-bar-cover {
    translate: 0;
    position: relative;
    z-index: 1;
}

.side-bar-push {
    position: static;
    translate: -100%;
}

.side-bar-content-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0 20px 0;
    color: var(--dark-main-color);
    min-width: 220px;
}

.divider-container {
    display: flex;
    justify-content: center;
}

.side-bar-divider {
    height: 2px;
    background-color: var(--main-color);
    border-radius: 10px;
    min-width: 80%;
}

.side-bar-filter-options,
.projects-list {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.filter-option {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    min-height: 40px;
}

.filter-option > div:first-child {
    width: 100px;
    text-align: center;
}

.task-count {
    width: 40px;
    min-width: fit-content;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CHECK IF THIS WORKS ON OLDER BROWSERS SINCE INITIAL-VALUE IS STILL EXPERIMENTAL*/
@property --color-start {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.filter-option,
.project,
.add-project-btn {
    transition: --color-start 1s;
    background: linear-gradient(to right, white var(--color-start), var(--sub-color) 0);
}

.filter-option:hover,
.project:hover,
.add-project-btn:hover {
    cursor: pointer;
    --color-start: 100%;
}

/**/

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-container>div {
    text-align: center;
}

.projects-title {
    font-weight: bold;
    font-size: 18px;
}

.project {
    padding: 10px;
}

.add-project-btn {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 14px;
    color: var(--dark-main-color);
    font-weight: bold;
}

.current-tab {
    background: white;
}



