.main-section {
    display: grid;
    height: 100%;
    grid-template-columns: 200px auto;
    transition: 1s;
}

.main-section-slide {
    grid-template-columns: 0 auto;
}

@media screen and (max-width: 500px) {
    .main-section {
        grid-template-columns: 0 auto;
    }
}



