.content {
    background-color: white;
}

.add-task-btn-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.add-task-btn {
    height: 40px;
    max-width: 70%;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--sub-color);
    color: var(--dark-main-color);
}

.add-task-btn:hover {
    background-color: rgb(231, 230, 227);
}

.add-task-btn,
.task-container {
    border: 3px solid var(--main-color);
    border-radius: 10px;
}

.task-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-container > div {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}